* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    font-size: 2em;
    color: #104e8b;
    margin-bottom: 10px;
} 
.navbar {
    background-color: #333; /* Fondo oscuro */
    padding: 15px 0;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 60px; 
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 4px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
}

.nav-links.nav-open {
  transform: translateY(0%);
  position: absolute;
  top: 60px;
  right: 0;
  background: #333;
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    max-height: 120px; 
    margin-right: 10px;
    margin-top: 5px;
}

.logo span {
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    margin: 25px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #ffdd57; 
}

.hero {
    background-image: url(../images/comedor2.jpg);
    background-size: cover; 
    background-position: center;
    height: 520px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: white;
}

.hero-text {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    text-shadow:0 0 15px #000;
    color: #f5f5f5;
    font-size: 0.9rem;
}

.hero-text h1 {
    color: #f5f5f5;
}

.hero h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 20px 5px 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.text {
    flex: 1;
    min-width: 300px;
    padding: 40px;
}

.text h1 {
    font-size: 2rem;
    color: #f5f5f5; 
    margin-bottom: 20px;
}

.text p {
    font-size: 0.9rem;
    margin-bottom: 15px;
    text-align: justify;
    color: #333;
}


.text-section {
    padding: 30px;
    flex: 1;
}

.text-section h1 {
    font-size: 2rem;
    color: #004085;
    margin-bottom: 20px;
    text-align: center;
}

.text-section p {
    font-size: 0.9rem;
    line-height: 1.6;
    color: #555555;
    text-align: justify;
}

.image-section {
    flex: 1;
}

.image-section img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #2b2b2b; 
    color: #ffffff; 
    padding: 20px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.footer-logo {
    text-align: center;
}

.logo-img {
    width: 130px; 
    margin-bottom: 5px;
}

.footer-logo p {
    font-size: 0.9em;
    margin: 0;
    line-height: 1.2;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 0.85em;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #d3d3d3; 
}

.footer-contact p {
    font-size: 0.85em;
    line-height: 1.5;
    text-align: center;
    margin: 0;
}

.footer-contact a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.footer-contact a:hover {
    color: #d3d3d3; 
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
  
    .nav-links.nav-open {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        background: #333;
        top: 60px;
        width: 100%;
        z-index: 10;
    }
  
    .hamburger {
        display: flex;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .footer {
        font-size: 10px;
    }
  
  }